:root, [data-bs-theme=light] {
  --bs-primary: #110077;
  --bs-primary-rgb: 17,0,119;
  --bs-primary-text-emphasis: #070030;
  --bs-primary-bg-subtle: #CFCCE4;
  --bs-primary-border-subtle: #A099C9;
  --bs-secondary: #16009d;
  --bs-secondary-rgb: 22,0,157;
  --bs-secondary-text-emphasis: #09003F;
  --bs-secondary-bg-subtle: #D0CCEB;
  --bs-secondary-border-subtle: #A299D8;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #110077;
  --bs-btn-border-color: #110077;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0E0065;
  --bs-btn-hover-border-color: #0E005F;
  --bs-btn-focus-shadow-rgb: 219,217,235;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0E005F;
  --bs-btn-active-border-color: #0D0059;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #110077;
  --bs-btn-disabled-border-color: #110077;
}

.btn-outline-primary {
  --bs-btn-color: #110077;
  --bs-btn-border-color: #110077;
  --bs-btn-focus-shadow-rgb: 17,0,119;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #110077;
  --bs-btn-hover-border-color: #110077;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #110077;
  --bs-btn-active-border-color: #110077;
  --bs-btn-disabled-color: #110077;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #110077;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #16009d;
  --bs-btn-border-color: #16009d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #130085;
  --bs-btn-hover-border-color: #12007E;
  --bs-btn-focus-shadow-rgb: 220,217,240;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #12007E;
  --bs-btn-active-border-color: #110076;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #16009d;
  --bs-btn-disabled-border-color: #16009d;
}

.btn-outline-secondary {
  --bs-btn-color: #16009d;
  --bs-btn-border-color: #16009d;
  --bs-btn-focus-shadow-rgb: 22,0,157;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #16009d;
  --bs-btn-hover-border-color: #16009d;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #16009d;
  --bs-btn-active-border-color: #16009d;
  --bs-btn-disabled-color: #16009d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #16009d;
}

