/* Detail knihy */

.book-detail-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 80%;
  /*border: 1px solid #bdc3c7;*/
  /*background-color: #f9f9f9;*/
  /*border-radius: 8px;*/
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

@media screen and (max-width: 1400px) {
  .book-detail-container {
    max-width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .book-detail-container {
    max-width: 98%;
  }
}

@media (max-width: 768px) {
  .book-detail-container {
    flex-direction: column;
  }
}

.book-detail-cover {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 250px;
  /*border: 1px solid #bdc3c7;*/
  /*background-color: #fff;*/
  /*border-radius: 8px;*/
}

@media screen and (max-width: 768px) {
  .book-detail-cover {
    max-width: 100%;
  }
}

.book-detail-cover img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}

.book-detail-info {
  flex: 1;
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px groove #bdc3c7;
  border-radius: 8px;
  /*border: 1px solid #bdc3c7;*/
  /*background-color: #fff;*/
  /*border-radius: 8px;*/
}

.book-detail-main-content {
  overflow: auto;
}

.book-detail-title {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.book-detail-author {
  font-size: 1.2rem;
  color: #7f8c8d;
}

.book-detail-releasedate {
  font-size: 1.2rem;
  color: #7f8c8d;
}

.book-detail-container p {
  font-size: 1rem;
  color: #2c3e50;
  line-height: 1.6;
}

.book-detail-rating img {
  width: 1.5rem;
  height: auto;
}

.book-detail-rating-value {
  font-size: 1.2rem;
  color: #f39c12;
  margin-left: 0.5rem;
}

.book-detail-description {
}

.book-detail-categories {
  align-items: flex-end;
  height: min-content;
  width: clamp(150px, 40%, 250px);
  text-align: start;
  border: 1px groove #bdc3c7;
  border-radius: 6px;
  padding: 1.5rem;
  align-self: flex-start;
  background-color: #f9f9f9;
}

.book-detail-categories h3 {
  font-size: 1.2rem;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .book-detail-categories {
    width: 100%;
    text-align: left;
  }
}

.book-detail-categories ul {
  display: block;
  list-style-type: none;
  padding: 0;
}

.book-detail-getbutton-container {
  text-align: right;
  margin-right: 2rem;
}

.book-detail-getbutton {
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .book-detail-getbutton-container {
    width: 100%;
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  .book-detail-getbutton {
    margin-right: 10%;
  }
}

.book-detail-moredetails {
  clear: both;
  margin-top: 2rem;
}

.book-detail-moredetails table tr td {
  padding-left: 50px;
}

/* * Slider */

.book-detail-booksslider {
  margin-top: 5rem;
  padding: 1rem;
  width: 100%;
  background: #e3e3e3;
}

.book-detail-booksslider-container {
  max-width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .book-detail-booksslider-container {
    max-width: 100%;
  }
}

