/* Detail knihy */

.book-detail-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 80%;
  /*border: 1px solid #bdc3c7;*/
  /*background-color: #f9f9f9;*/
  /*border-radius: 8px;*/
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

@media screen and (max-width: 1400px) {
  .book-detail-container {
    max-width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .book-detail-container {
    max-width: 98%;
  }
}

@media (max-width: 768px) {
  .book-detail-container {
    flex-direction: column;
  }
}

.book-detail-cover {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 250px;
  /*border: 1px solid #bdc3c7;*/
  /*background-color: #fff;*/
  /*border-radius: 8px;*/
}

.book-detail-cover img{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .book-detail-cover {
    max-width: 100%;
  }
}

.book-detail-cover img {
  max-width: 100%;
  min-width: 12vw;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .book-detail-cover img {
    min-width: 50vw;
  }
}

.book-detail-info {
  flex: 1;
  padding: 2rem;
  background: linear-gradient(140deg, #f8f9fa, #e9ecef);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  /*border: 1px solid #bdc3c7;*/
  /*background-color: #fff;*/
  /*border-radius: 8px;*/
}

.book-detail-title {
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.book-detail-author {
  font-size: 1.2rem;
  color: #7f8c8d;
  margin-bottom: 0;
}

.book-detail-releasedate {
  font-size: 1.2rem;
  color: #7f8c8d;
  margin-bottom: 8px;
}

.book-detail-container p {
  font-size: 1rem;
  color: black;
}

.book-detail-rating img {
  width: 1.5rem;
  height: auto;

}

.book-detail-rating-value {
  font-size: 1.2rem;
  color: #f39c12;
  margin-left: 0.5rem;
}

.book-detail-description {
  color: black;
  line-height: 1.6;
  margin-top: 2rem;
}

.book-detail-getbutton-container {
  text-align: right;
  margin-top: 2rem;
  margin-right: 2rem;
}

.book-detail-getbutton {
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .book-detail-getbutton-container {
    width: 100%;
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  .book-detail-getbutton {
    margin-right: 10%;
  }
}

.book-detail-moredetails {
  clear: both;
  margin-top: 2rem;
}

.book-detail-moredetails table tr td {
  padding-left: 50px;
}

/* * Slider */

.book-detail-booksslider {
  margin-top: 5rem;
  padding: 1.5rem;
  width: 100%;
  background: linear-gradient(360deg, #f8f9fa, #e9ecef);
}

.book-detail-booksslider-container h1{
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 0;
}

.book-detail-booksslider-container {
  max-width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .book-detail-booksslider-container {
    max-width: 100%;
  }
}

.book-detail-categories {
  align-self: flex-start;
  width: clamp(200px, 40%, 300px);
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out, box-shadow 0.3s;
  border: none;
}

.book-detail-categories h3 {
  font-size: 1.6rem;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.book-detail-categories ul {
  list-style: none;
  padding: 0;
}

.book-detail-categories ul li {
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.book-detail-categories ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out, transform 0.2s;
}

.book-detail-categories ul li a:hover {
  color: #0056b3;
  transform: translateX(5px);
}

.book-detail-categories ul li a::before {
  content: "📖";
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .book-detail-categories {
    width: 100%;
  }
}
