@media screen and (max-width: 768px) {
  .form-select {
    max-width: 0;
  }
}

.index-slider-container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .index-slider-container {
    width: 100%;
  }
}

.books-selection-container {
  height: auto;
  margin-top: 131px;
  background: #e3e3e3;
  padding: 1.5rem;
  background: linear-gradient(360deg, #f8f9fa, #e9ecef);
}

.books-selection-container h1{
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 0;
  font-weight: bold
}

