{block content}
<style>
    .book{
        margin-bottom: 20px;
    }
</style>

{*<h1>Oblíbené</h1>
{foreach $favorite as $book}
    <div class="book">
        <img src="{$book['cover']}">
        <p>{$book['id']}</p>
        <strong>{$book['title']}</strong><br>
        <em>{$book['authors']}</em><br>
        <p>{$book['publishedDate']}</p>
    </div>
{/foreach}
*}

<h1>Book by id</h1>

<div class="book">
    {if !isset($book['cover'])}
        <img src="https://via.placeholder.com/150">
    {else}
        <img src="{$book['cover']}">
    {/if}

    <strong>{$book['title']}</strong><br>
    <em>{$book['authors']}</em><br>
    <p>{$book['publishedDate']}</p>
    {$book['description'] | stripHtml}<br>
    <p>{$book['pageCount']}</p>
    <p>{$book['categories']}</p>
    <p>{$book['averageRating']}</p>
    <p>{$book['ratingsCount']}</p>
</div>