<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Databáze knih</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/swiper-icons.css">
    <link rel="stylesheet" href="/assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="/assets/css/Navbar-With-Button-icons.css">
    {include styles}
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<nav class="navbar navbar-expand-md bg-body py-3"
     style="background: linear-gradient(179deg, #110077 0%, #16009d 100%);">
    <div class="container"><a class="navbar-brand d-flex align-items-center" n:href="Home:default"><span
                    class="bs-icon-md justify-content-center align-items-center me-2 bs-icon"
                    style="background: url('/assets/img/books.png');background-size: contain;"></span><span
                    style="color: #ffffff;font-weight: bold;font-size: 22px;">Databáze knih</span></a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"
                style="border-color: rgba(255,255,255,0.65);"><span class="dropdown-burger"><svg viewBox="0 0 24 24"
                                                                                                 fill="none"
                                                                                                 xmlns="http://www.w3.org/2000/svg"><g
                            id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier"
                                                                           stroke-linecap="round"
                                                                           stroke-linejoin="round"></g><g
                            id="SVGRepo_iconCarrier"> <path d="M4 18L20 18" stroke="#ffffff" stroke-width="2"
                                                            stroke-linecap="round"></path> <path d="M4 12L20 12"
                                                                                                 stroke="#ffffff"
                                                                                                 stroke-width="2"
                                                                                                 stroke-linecap="round"></path> <path
                                d="M4 6L20 6" stroke="#ffffff" stroke-width="2"
                                stroke-linecap="round"></path> </g></svg></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" n:href="Home:default" style="color: #ffffff;">Domů</a></li>
                {*<li class="nav-item"><a class="nav-link" n:href="Results:default" style="color: #ffffff;">Hledat</a></li>*}
                <li class="nav-item"><a class="nav-link" n:href="Categories:default" style="color: #ffffff;">Žánry</a></li>
            </ul>
            <form style="display: flex;"><input class="border rounded-0 form-control" type="search" name="book_search"
                                                placeholder="Hledat knihu"
                                                style="border-radius: 0px;border-style: solid;border-top-left-radius: 6px;border-bottom-left-radius: 6px;">
                <button class="btn btn-primary" type="button"
                        style="width: 60px;height: auto;padding: initial;border-style: none;border-top-left-radius: 0px;border-bottom-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;background: rgb(0,107,167);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                         viewBox="0 0 16 16" class="bi bi-search" style="font-size: 23px;">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</nav>


{include content}


<footer class="text-center" style="color: #21252933;">
        <div class="container text-muted py-4 py-lg-5 footer-container">
            <ul class="list-inline footer-list">
                <li class="list-inline-item me-4"><a n:href="Home:default">Domů</a></li>
                {*<li class="list-inline-item me-4"><a n:href="Results:default">Hledat</a></li>*}
                <li class="list-inline-item"><a n:href="Categories:default">Žánry</a></li>
            </ul>
            <p class="mb-0">© 2025 | Tato webová stránka byla vytvořena Lukášem Seifertem jako součást maturitní práce.
                Web je určen pouze pro nekomerční účely.</p>
        </div>
</footer>

<script src="https://unpkg.com/nette-forms@3"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
{include scripts}

</body>

</html>
